html {
  box-sizing: border-box;
  
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Global layout */
body {
  /* Background pattern from Subtle Patterns */
  background-image: url(/images/background.png);
  color: #5dcdd1;
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  background-color: white;
  margin: 0 auto;
  margin-top: 80px;
  max-width: 450px;
  padding: 2em;  
}

/* All the CSS Elements for the Tweets that are displayed */
#tweets {
  margin-top: 20px;
}

 /* Styling for each tweet */
 article {
  border: 1px solid #d3d3d3;
  margin-top: 10px;
  border-radius: 5px;
 }

 article:hover {
  opacity: .85; ;
}

.avatar {
  border-radius: 5px;
  float: left;
  margin: 10px;
  max-width: 50px;
  opacity: .60;
}

/* Name displayed */
 #tweets header h2 {
   background-color: #f3f3f3;
   color: #5dcdd1;
   height: 70px;
   margin: 0;
   padding-top: 10px;
   font-size: 120%;
   font-weight: normal;
 }

/* Handle displayed */
 #tweets header h3 {
  color: #aaaaaa;
  float: right;
  font-size: 85%;
  margin: 0;
  padding-right: 10px;
  padding-top: 10px;
  font-weight: lighter;
 }

/* Tweet displayed */
#tweets article > p {
  height: 60px;
  margin: 0;
  padding-left: 10px;
  padding-top: 30px;
  color: #9b9b9b;
}

#tweets footer {
   background-color: #aaaaa;  
 }
 
/* Creation date displayed */
 #tweets footer p {
   border-top: 1px solid #d3d3d3;
   font-size: 80%;
   padding-left: 10px;
   padding-top: 10px;
   color: #9b9b9b;;
 }

#my-footer {
  margin-left: 10px;
  height: 20px;
}


/* Icons */

#heart {
  height: 14px;
  float: right;
  margin-top: 12px;
  margin-right: 6px;
}
#retwitt {
  height: 13px;
  float: right;
  margin-top: 12px;
  margin-right: 6px;
}

#flag {
  height: 14px;
  float: right;
  margin-top: 12px;
  margin-right: 10px;
  z-index: 2;
}

