html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Global layout */
body {
  background-color: #eee;
  color: #244751;
  font-family: 'Roboto Condensed', sans-serif;
}

.container {
  background-color: white;
  margin: 0 auto;
  margin-top: 80px;
  max-width: 450px;
  padding: 2em;  
}

/* All the CSS Elements for the Tweets that are displayed */
#tweets {
  margin-top: 20px;
  opacity: .75; 
}

#tweets:hover {
  opacity: 2;
}

 /* Styling for each tweet */
 article {
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  margin-top: 10px;
 }

.avatar {
  border-radius: 5px;
  float: left;
  margin: 10px;
  max-width: 50px;
}

/* Name displayed */
 #tweets header h2 {
   background-color: #f3f3f3;
   height: 70px;
   margin: 0;
   padding-top: 10px;
 }

/* Handle displayed */
 #tweets header h3 {
  color: #aaaaaa;
  float: right;
  font-size: 90%;
  font-weight: normal;
  margin: 0;
  padding-right: 10px;
  padding-top: 10px;
 }

/* Tweet displayed */
#tweets article > p {
  height: 60px;
  margin: 0;
  padding-left: 10px;
  padding-top: 30px;
}

#tweets footer {
   background-color: #ffffff;  
   border-radius: 5px;
 }
 
/* Creation date displayed */
 #tweets footer p {
   border-top: 1px solid #d3d3d3;
   font-size: 80%;
   padding-left: 10px;
   padding-top: 10px;
