#nav-bar {
    position: fixed;
    top: 0;
    background-color: #00a087;
    color: #e8fdff;
    padding-left: 2em;
    padding-right: 2em;
    left: 0;
    right: 0;
    font-size: 200%;
}

#nav-bar .logo {
    float: left;
    height: 80px;
    padding-right: 10px;
    
}

#nav-bar .header {
    float: left;
    line-height: 80px;
    
}

[type="button"] {
    background-color: #e7fdff;
    color: #009f86;
    border-radius: 5px;
    border-color: black;
    border-width: 1px;
    font-size: 50%;
    height: 50px;
    width: 100px;
    float: right;
    margin-top: 15px;
    margin-right: 2em;
}

[type="button"]:hover {
    background-color: white;
    color: black;
}