.new-tweet {
  background-color: #eeeeee;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding: 8px;
}

/* "Compose Tweet" text */
.new-tweet h2 {
  border-bottom: solid black;
  border-width: 1px;
  text-align: left;
}

.counter {
  font-style: italic;
  margin-left: 280px;
}

/* character counter when limit is exceeded */ 
.redmax {
    color: red;
}

/* Text area to enter tweet */ 
textarea {
  padding: 3px;
  width: 100%;
}

/* "Tweet" a.k.a the submit button */ 
[type="button"] {
  background-color: #e7fdff;
  border-color: black;
  border-radius: 5px;
  border-width: 1px;
  color: #009f86;
  float: right;
  font-size: 50%;
  height: 50px;
  margin-top: 15px;
  width: 100px;
}

[type="button"]:hover {
  background-color: white;
  color: black;
}