.new-tweet {
  background-color: #f6f6f6;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  height: 169px;
  padding: 11px;
}

/* "Compose Tweet" text */

.new-tweet h2 {
  border-bottom: solid #e1e1e1;
  border-width: .5px;
  color: #6d6b6b;
  font-size: 112%;
  letter-spacing: 1px;
  text-align: left;
}

.counter {
  float: right;
  font-style: italic;
}

/* character counter when limit is exceeded */ 

.redmax {
  color: red;
}

/* Text area to enter tweet */ 

textarea {
  background-color: white;;
  border-width: 0px;
  color: #9b9b9b;
  font-size: 90%;
  height: 55px;
  width: 100%;
}

/* "Tweet" a.k.a the submit button */ 

[type="submit"] {
  background-color: white;
  border-radius: 5px;
  border-width: 0px;
  color: #9b9b9b; 
  font-size: 90%;
  margin-right: 5px;
}

[type="submit"]:hover {
  background-color: #9b9b9b;
  color: white;
}

/* Slide down error message */

.errors p {
  color: #00b9be;
  display: none;
  font-size: 90%;
  font-weight: 300;
  margin: 0;
}

.errors {
  display: inline-block;
}
